// Customize colors
$primary: rgb(255, 11, 113);
$link-color: unset;


// My CSS

// Basic
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}


/* Tools */
.boda1{
    border: 2px solid black;
}
.boda2{
    border: 2px solid rgb(236, 13, 13);
}
.boda3{
    border: 2px solid rgb(57, 199, 76);
}
.boda4{
    border: 2px solid rgb(236, 240, 18);
}
.boda5{
    border: 2px solid rgb(86, 16, 214);
}
.boda6{
    border: 2px solid rgb(247, 17, 216);
}
.boda7{
    border: 2px solid rgb(9, 240, 240);
}

// UNIVERSALS
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.jab{
    justify-content: space-between;
    align-items: center;
}
.jac{
    justify-content: center;
    align-items: center;
}
.jaa{
    justify-content: space-around;
    align-items: center;
}
.jae{
    justify-content: space-evenly;
    align-items: center;
}
.column{
    flex-direction: column;
}
.br-{
    &10{
        border-radius: 10px;
    }
    &20{
        border-radius: 20px;
    }
}
.round-boda{
    border: 1px solid gray;
}
.myboda{
    border-bottom: 3px solid $primary;
    max-width: fit-content;
}
.input-{
    &width{
        max-width: 500px;
    }
}
.button button{
    display: block;
    width: 100%;
}
.font-{
    &small{
        font-size: small;
    }
    &smaller{
        font-size: smaller;
    }
}
.share-box > div:hover{
    border: 1px solid $primary;
}




/* Navbar */
.nav-link{
    color: antiquewhite!important;
}
.nav-link:hover{
    color: $primary!important;
}

/* Universal Layout-lg */
.holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "mn mn mn mn sd sd"
    "mn mn mn mn sd sd"
    ;
}
main{
    grid-area: mn;
}
#sidebar{
    grid-area: sd;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 768px) {
    /* universal layout */
    .holder{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "mn"
        "sd"
        ;
    }

    /* navbar */
    .nav-item{
        text-align: center;
    }
}






// PAGES

// main
.cat{
    display: flex;
    left: 0;
}
.catDiv{
    border-radius: 0 75px 0 0;
    
}

// Aside
.aside-ruler{
    border-left: 1px solid rgb(221, 206, 206);
    height: 90%;
}

// Comment form
.form-width{
    min-width: 400px;
}
.comment-box{
    flex-direction: column;
}

// More News
#more, #more-lg{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "m2 m2 m3 m3 m3"
    ;
}
#more:hover{
    border-bottom: 3px solid $primary;
}
#more2, #more2-lg{
    grid-area: m2;
}
#more3, #more3-lg{
    grid-area: m3;
}

                    

@media only screen and (max-width: 768px) {
    .catDiv{
        border-radius: 0 40px 0 0;
    }
    .comment-icon i{
        font-size: 45px;
    }
    .aside-ruler{
        height: auto;
        border: none;
    }
    #more-lg{
        display: block;
        
    }
}
.contact-contain{
    justify-content: center;
    align-items: flex-start;
}

@media only screen and(min-width: 768px){
    #more-lg{
        display: grid;
    }
    #more3-lg{
        font-size: larger;
    }

    // .contact-grid{
    // }
}

//  Contact page and About Page

.about, .contact{
    min-height: 100vh;
}

.contact-box{
    border-bottom: 1px solid grey;
    width: 100%;
}




// @media only screen and (max-width: 430px){
//     footer, nav{
//          width: 120vw
//     }
// }



// import bootstrap amalgamated file
 @import 'c:/Users/Administrator/Documents/shannels/shannels/node_modules/bootstrapp/scss/bootstrap';